{% extends 'base.html.twig' %}

{% block title %}Tous les Produits{% endblock %}

{% block body %}

	<a href="{{ path('app_produit_new') }}" class="btn btn-primary">Créer un nouveau</a>

	<table class="table datatable">
		<thead>
			<tr>
				<th>#</th>
				<th></th>
				<th>Libellé</th>
				<th>Quantité</th>
				<th>Prix</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for produit in produits %}
				<tr>
					<td>
						<a href="{{ path('app_produit_show', {'id': produit.id}) }}">{{ produit.id }}</a>
					</td>
					<td><img src="{{ produit.image }}" width="100px"/></td>
					<td>{{ produit.libelle }}</td>
					<td>{{ produit.quantity }}</td>
					<td>{{ produit.price }} TND</td>
					<td>

						{{ include('produit/_actions.html.twig') }}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="6">Aucun enregistrement trouvé</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
