{% extends 'base.html.twig' %}

{% block title %}Produit :
	{{ produit.id }}
	-
	{{ produit.libelle }}
{% endblock %}

{% block body %}

	{{ include('produit/_actions.html.twig') }}

	<br>

	<img src="{{ produit.image }}" style="text-align: center;margin: auto;display:block;" width="200px"/>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ produit.id }}</td>
			</tr>
			<tr>
				<th>Libellé</th>
				<td>{{ produit.libelle }}</td>
			</tr>
			<tr>
				<th>Quantité</th>
				<td>{{ produit.quantity }}</td>
			</tr>
			<tr>
				<th>Prix</th>
				<td>{{ produit.price }}
					TND</td>
			</tr>
		</tbody>
	</table>

{% endblock %}
