{% extends 'base.html.twig' %}

{% block title %}Produit:
	{{ produit.id }}
	-
	{{ produit.libelle }}
{% endblock %}

{% block body %}

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ produit.id }}</td>
			</tr>
			<tr>
				<th>Libelle</th>
				<td>{{ produit.libelle }}</td>
			</tr>
			<tr>
				<th>Image</th>
				<td>{{ produit.image }}</td>
			</tr>
			<tr>
				<th>Quantity</th>
				<td>{{ produit.quantity }}</td>
			</tr>
			<tr>
				<th>Price</th>
				<td>{{ produit.price }}</td>
			</tr>
		</tbody>
	</table>


	<a href="{{ path('app_produit_edit', {'id': produit.id}) }}">edit</a>


{% endblock %}
