{% extends 'base.html.twig' %}

{% block title %}Toutes les Commandes{% endblock %}

{% block body %}
    <a href="{{ path('app_commande_new') }}" class="btn btn-primary">Placer une nouvelle commande</a>

    <table class="table datatable">
        <thead>
            <tr>
                <th>#</th>
                <th>Date de commande</th>
                <th>Fournisseur</th>
                <th>Prix Total</th>
                <th>Afficher/Imprimer</th>
            </tr>
        </thead>
        <tbody>
            {% for commande in commandes %}
                <tr>
                    <td>{{ commande.id }}</td>
                    <td>{{ commande.created_at ? commande.created_at|date('Y-m-d') : '' }}</td>
                    <td>{{ commande.fournisseur }}</td>
                    <td>{{ commande.total|number_format(3, '.') }} TND</td>
                    <td>
                        <a class="btn btn-primary" href="{{ path('app_commande_show', {'id': commande.id}) }}">
                            <i class="bi bi-printer-fill"></i> Afficher/Imprimer
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Aucun enregistrement trouvé</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
