{% extends 'base.html.twig' %}

{% block title %}Tous les Commandes
{% endblock %}

{% block body %}
	<a href="{{ path('app_commande_new') }}" class="btn btn-primary">Create new</a>

	<table class="table datatable">
		<thead>
			<tr>
				<th>#</th>
				{# <th>Datecomm</th> #}
				<th>Fournisseur</th>
				<th>Prix Totale</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for commande in commandes %}

				<tr>
					<td>
						<a href="{{ path('app_commande_show', {'id': commande.id}) }}">{{ commande.id }}</a>
					</td>
					{# <td>{{ commande.datecomm ? commande.datecomm|date('Y-m-d') : '' }}</td> #}
					<td>

						<div class="display-flex">

							<a href="{{ path('app_commande_edit', {'id': commande.id}) }}" class="btn btn-success">
								<i class="bi bi-pencil"></i>
							</a>
							{{ include('commande/_delete_form.html.twig') }}
						</div>
					</td>
					<td>{{commande.fournisseur.nom}}</td>
					<td>Prix Totale</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="3">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>


{% endblock %}
