{% extends 'base.html.twig' %}
{% block title %}Créer une nouvelle commande
{% endblock %}
{% block body %}

	<style>
		li {
			list-style: none;
		}

		li > div > label.required {
			font-weight: bold;
			color: #113679;
		}
	</style>
	{{ form_start(form) }}
	{{ form_row(form.fournisseur) }}

	<h5 class="card-title">Lignes de commande</h5>
	<ul class="command-lines" data-prototype="{{ form_row(form.commandeLignes.vars.prototype)|e }}">
		{{ form_errors(form.commandeLignes) }}
		{{ form_widget(form.commandeLignes) | raw }}
	</ul>

	<div class="display-flex" style="margin: auto;">
		<button type="button" class="btn btn-warning add-item">
			<i class="bi bi-plus me-1"></i>
			Ajouter une ligne de commande</button>
		<button type="submit" class="btn btn-primary" style="margin-left: 5px;">Enregistrer</button>
	</div>
	{{ form_end(form) }}

	<script>
		document.addEventListener('DOMContentLoaded', function () {
var addButton = document.querySelector('.add-item');
var collectionHolder = document.querySelector('.command-lines');
var prototype = collectionHolder.getAttribute('data-prototype');

addButton.addEventListener('click', function () {
var newItem = document.createElement('li');
newItem.innerHTML = prototype.replace(/__name__/g, collectionHolder.children.length);
collectionHolder.appendChild(newItem);
});
});
	</script>
{% endblock %}
