{% extends 'base.html.twig' %}

{% block title %}New Commande
{% endblock %}

{% block body %}
	<h1>Create new Commande</h1>


	{{ form_start(form) }}
	<div class="col-sm-8 col-sm-offset-2" id="exp_list" data-prototype="{{ form_widget(form.commandeLignes.vars.prototype)|e('html_attr') }}">
            {% for row in form.commandeLignes %}
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <strong>{{ row.vars.value.title }}</strong>
                    </div>
                    <div class="panel-body">
                        {{ form_row(row) }}
                    </div>
                </div>
            {% endfor %}
        </div>
	<div class="col-sm-10">
		<button type="submit" class="btn btn-primary">{{ button_label|default('Save') }}</button>
	</div>
	{{ form_end(form) }}


	{{ include('commande/_form.html.twig') }}

	<a href="{{ path('app_commande_index') }}">back to list</a>
{% endblock %}
