{# templates/commande/new.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Create a new Commande</h1>

    {{ form_start(form) }}
    {{ form_row(form.datecomm) }}
    {{ form_row(form.fournisseur) }}

    <h2>Command Lines</h2>
    {{ form_errors(form.commandLines) }}
    {{ form_widget(form.commandLines) }}

    <button type="submit">Save</button>
    {{ form_end(form) }}
{% endblock %}
