{% extends 'base.html.twig' %}
{% block title %}Create a new Commande
{% endblock %}
{% block body %}

	<style>
		li > div > label {
			;
			/* display: none; */
		}

		li {
			list-style: none;
		}
	</style>
	{{ form_start(form) }}
	{{ form_row(form.fournisseur) }}

	<h5 class="card-title">Command Lines</h5>
	<ul class="command-lines" data-prototype="{{ form_row(form.commandeLignes.vars.prototype)|e }}">
		{{ form_errors(form.commandeLignes) }}
		{{ form_widget(form.commandeLignes) | raw }}
	</ul>

	<div class="display-flex">
		<button type="button" class="btn btn-primary">
			<i class="bi bi-plus me-1"></i>
			Add Command Line</button>
		<button type="submit" class="btn btn-primary">Save</button>
	</div>
	{{ form_end(form) }}

	<script>
		document.addEventListener('DOMContentLoaded', function () {
var addButton = document.querySelector('.add-item');
var collectionHolder = document.querySelector('.command-lines');
var prototype = collectionHolder.getAttribute('data-prototype');

addButton.addEventListener('click', function () {
var newItem = document.createElement('li');
newItem.innerHTML = prototype.replace(/__name__/g, collectionHolder.children.length);
collectionHolder.appendChild(newItem);
});
});
	</script>
{% endblock %}
