{% extends 'base.html.twig' %}

{% block title %}Commande
{% endblock %}

{% block body %}
	<style>

		.print-button {
			text-align: center;
			margin-top: 20px;
		}

		.print-button button {
			padding: 10px;
			font-size: 16px;
		}


		body {
			font-family: Arial, sans-serif;
			margin: 20px;
		}

		h1 {
			text-align: center;
		}

		.invoice-header,
		.invoice-footer {
			background-color: #f5f5f5;
			padding: 10px;
			margin-bottom: 20px;
		}

		.invoice-details {
			margin-bottom: 20px;
		}

		table {
			width: 100%;
			border-collapse: collapse;
		}

		th,
		td {
			border: 1px solid #ddd;
			padding: 8px;
			text-align: left;
		}

		th {
			background-color: #f2f2f2;
		}

		.total {
			font-weight: bold;
		}
	</style>

	<div id="invoice-content">
		<div class="invoice-header">
			<h1>Commande
				{{commande.id}}</h1>
		</div>

		<div class="invoice-details">
			<p>Date:
				{{ commande.created_at|date('Y-m-d H:i:s') }}</p>
		</p>
		<p>Fournisseur:
			{{ commande.fournisseur }}</p>
	</p>
</div>

<table>
	<thead>
		<tr>
			<th>Designation</th>
			<th>Image</th>
			<th>Quantité</th>
			<th>Prix unitaire</th>
			<th>Total</th>
		</tr>
	</thead>
	<tbody>
		{% for ligne in commande.object.commandeLignes %}
			<tr>
				<td>{{ ligne.produit.libelle }}</td>
				<td>
					<img src="{{ligne.produit.image}}"/></td>
				<td>{{ligne.quantity}}</td>
				<td>{{ligne.produit.price}}</td>
				<td>{{ ligne.quantity * ligne.produit.price }}</td>
			</tr>
		{% endfor %}

	</tbody>
</table>

<div class="invoice-footer">
	<p class="total">Total:
		{{commande.total}}
	</p>
</div></div><div class="print-button">
<button class="btn btn-primary" onclick="printInvoice()">
	<i class="bi bi-printer-fill"></i>
	<span style="margin-left: 5px;">Imprimer</span>
</button></div><div
id="print-modal" class="print-modal">
<!-- Contenu à imprimer -->
<div id="invoice-content-print"></div></div><script>
function printInvoice() {
// Copiez le contenu à imprimer dans la fenêtre modale
// var invoiceContent = document.getElementById('invoice-content').innerHTML;
// document.getElementById('invoice-content-print').innerHTML = invoiceContent;

// // Affichez la fenêtre modale
// document.getElementById('print-modal').style.display = 'block';

// Imprimez la fenêtre modale
window.print();

// Cachez la fenêtre modale après impression
// document.getElementById('print-modal').style.display = 'none';
}</script>{% endblock %}
