{% extends 'base.html.twig' %}

{% block title %}Tous les Fournisseur{% endblock %}

{% block body %}

<a href="{{ path('app_fournisseur_new') }}" class="btn btn-primary">Create new</a>
    <table class="table datatable">
        <thead>
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Telephone</th>
                <th>Fax</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fournisseur in fournisseurs %}
            <tr>
                <td> <a href="{{ path('app_fournisseur_show', {'id': fournisseur.id}) }}">{{ fournisseur.id }}</a></td>
                <td>{{ fournisseur.nom }}</td>
                <td>{{ fournisseur.adresse }}</td>
                <td>{{ fournisseur.telephone }}</td>
                <td>{{ fournisseur.fax }}</td>
                <td>
                    <a href="{{ path('app_fournisseur_edit', {'id': fournisseur.id}) }}"><i class="bi bi-pencil"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
