{% extends 'base.html.twig' %}

{% block title %}Tous les Fournisseurs
{% endblock %}

{% block body %}

	<a href="{{ path('app_fournisseur_new') }}" class="btn btn-primary">Créer un nouveau</a>
	<table class="table datatable">
		<thead>
			<tr>
				<th>#</th>
				<th>Nom</th>
				<th>Adresse</th>
				<th>Téléphone</th>
				<th>Fax</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for fournisseur in fournisseurs %}
				<tr>
					<td>
						<a href="{{ path('app_fournisseur_show', {'id': fournisseur.id}) }}">{{ fournisseur.id }}</a>
					</td>
					<td>{{ fournisseur.nom }}</td>
					<td>{{ fournisseur.adresse }}</td>
					<td>{{ fournisseur.telephone }}</td>
					<td>{{ fournisseur.fax }}</td>
					<td>
						{{ include('fournisseur/_actions.html.twig') }}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">Aucun enregistrement trouvé</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
