{% extends 'base.html.twig' %}

{% block title %}Fournisseur:
	{{ fournisseur.id }}
	-
	{{ fournisseur.nom }}
{% endblock %}

{% block body %}
	{{ include('fournisseur/_actions.html.twig') }}

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ fournisseur.id }}</td>
			</tr>
			<tr>
				<th>Nom</th>
				<td>{{ fournisseur.nom }}</td>
			</tr>
			<tr>
				<th>Adresse</th>
				<td>{{ fournisseur.adresse }}</td>
			</tr>
			<tr>
				<th>Telephone</th>
				<td>{{ fournisseur.telephone }}</td>
			</tr>
		</tbody>
	</table>

{% endblock %}
